{% extends 'base.html.twig' %}

{% block section_title %}Чат{% endblock %}

{% block chat %}

    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">GraSCHat</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><i class="glyphicon glyphicon-user"></i> {{ user.getUsername }} <img
                                                src="{{ asset('build/images/8IRJarkKo3c.jpg') }}" alt="" class="round_navbar">
                                    <span
                                            class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Actions</li>
                                    <li><a href="{{ path('logout') }}">Logout <i class="glyphicon glyphicon-log-out"></i> </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>

            <div class="col-lg-3">
                <div class="count_users">
                    <div class="count">
                        32 users online
                    </div>
                </div>
                <div id="my_scroll_block_for_users">
                    <div class="users_online" id="users_status">

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="message_block">
                    <div id="my_scroll_block">
                        <div id="status">

                        </div>
                    </div>
                    <div class="input_field">
                        <form class="form" name="messages">
                            <div class="col-lg-10">
                                <textarea placeholder="Input your message..." rows="20" id="text-for-sending" name="comment"
                                          id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off"
                                          role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                            </div>
                            <div class="col-lg-2">
                                <button id="myButton" type="button" class="btn  glyphicon glyphicon-send glyphicon-lg btn-send  "
                                        aria-label="Send" data-tttype="2"></button>
                            </div>
                            <input type="submit" style="display: none"/>
                        </form>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/js/sockets.js') }}"></script>
{% endblock %}